@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background: #f8f1df;
}

#root {
  width: 100%;
}

img {
  max-width: 100%;
  display: block;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f5e6c8;
}

::-webkit-scrollbar-thumb {
  background: #d4af37;
  border-radius: 20px;
}